In [43]:
import numpy as np
import pandas as pd

In [44]:
dataset = pd.read_csv('pima-indians-diabetes.data',header=None)

In [45]:
dataset.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [55]:
column_names = ['NoTP','PGC','Diastolic BP','TSFT','Serum Insulin','BMI','DPF','Age','Class']

In [56]:
dataset = pd.read_csv('pima-indians-diabetes.data',header=None,names = column_names)

In [57]:
dataset.head()

   NoTP  PGC  Diastolic BP  TSFT  Serum Insulin   BMI    DPF  Age  Class
0     6  148            72    35              0  33.6  0.627   50      1
1     1   85            66    29              0  26.6  0.351   31      0
2     8  183            64     0              0  23.3  0.672   32      1
3     1   89            66    23             94  28.1  0.167   21      0
4     0  137            40    35            168  43.1  2.288   33      1

In [52]:
dataset.shape

(768, 9)

In [58]:
feature_names = ['NoTP','Serum Insulin','BMI','Age']

In [59]:
X_features = dataset[feature_names]

In [84]:
y_target = dataset['Class']

In [61]:
X_features.shape

(768, 4)

In [62]:
y_target.shape

(768,)

In [64]:
from sklearn.cross_validation import train_test_split

In [70]:
X_train,X_test,y_train,y_test = train_test_split(X_features,y_target,random_state = 1)

In [85]:
print(X_train.shape,y_train.shape,X_test.shape,y_test.shape)

(576, 4) (576,) (192, 4) (192,)

In [86]:
#fit the training to the model
from sklearn.linear_model import LogisticRegression

In [87]:
logReg = LogisticRegression()
logReg.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [ ]:
#predict the class using the created model

In [74]:
y_pred = logReg.predict(X_test)

In [91]:
#Calculate the accuracy of the prediction or model
from sklearn import metrics

print("Accuracy of the model: ",metrics.accuracy_score(y_test,y_pred))

Accuracy of the model:  0.6979166666666666

In [95]:
#30 Predicted classes from the y_pred
print("y_pred: ",y_pred[0:30])
print("y_test: ",y_test[0:30])

y_pred:  [0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0]
y_test:  285    0
101    0
581    0
352    0
726    0
472    0
233    0
385    0
556    0
59     0
756    0
341    0
445    1
614    1
371    0
355    1
19     1
711    0
430    0
117    0
493    1
218    1
159    1
667    1
553    0
628    0
620    0
238    1
640    0
750    1
Name: Class, dtype: int64